<?xml version="1.0"?>
<config>
    <modules>
        <Elgentos_Snow>
            <version>1.0.0</version>
        </Elgentos_Snow>
    </modules>
    <frontend>
        <layout>
            <updates>
                <snow>
                    <file>snow.xml</file>
                </snow>
            </updates>
        </layout>
    </frontend>
</config>
