<?xml version="1.0"?>
<config>
    <modules>
        <Elgentos_Christmas>
            <version>1.0.0</version>
        </Elgentos_Christmas>
    </modules>
    <frontend>
        <layout>
            <updates>
                <christmas>
                    <file>christmas.xml</file>
                </christmas>
            </updates>
        </layout>
    </frontend>
</config>
